@tailwind base;
@tailwind components;
@tailwind utilities;

.width-fit-content{
    width: fit-content;
}

.hide-scroll-bar::-webkit-scrollbar{
    display: none;
}

.right-sidebar{
    max-height: calc(100vh - 4rem);
}

.hero-section{

    padding-top: 4.5rem;
    background: rgb(21,31,37);
    background: radial-gradient(circle, rgba(21,31,37,0.5242471988795518) 0%, rgba(21,26,32,1) 99%);
}
.gradient-header{
    background: rgb(21,31,37);
    background: linear-gradient(180deg, rgba(21,31,37,0.8323704481792717) 0%, rgba(21,26,32,1) 99%);
}

.player{
    margin-top: 25vh;
}
